<div class="container">
  <h2 class="text-center">Gestion des livres</h2>
  <form [formGroup]="livForm" class="bordure">
    <label> Titre:</label>
    <input type="text" class="form-control" formControlName="titre" />
    <label> Prix:</label>
    <input type="text" class="form-control" formControlName="prix" /> <br />
    <label>
      <input type="checkbox" formControlName="nouvelle" /> Nouvelle édition
    </label>
    <br />
    <button class="btn btn-dark" (click)="addLiv()">Ajouter</button>
    <input
      type="reset"
      class="btn btn-secondary"
      value="Effacer"
      (click)="reset()"
    />
  </form>
  <h4>Liste des livres</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Prix</th>
        <th>Nouveau</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of lesLivres">
        <td>{{ l.id }}</td>
        <td>{{ l.titre }}</td>
        <td>{{ l.prix }} DT</td>
        <td><input type="checkbox" disabled [checked]="l.nouveau" />Nouveau</td>
        <td>
          <input
            type="button"
            value="Modifier"
            class="btn btn-warning"
            (click)="modifier(l.id)"
          />
        </td>
        <td>
          <input
            type="button"
            value="Supprimer"
            class="btn btn-info"
            (click)="deleteLiv(l.id)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
